* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #66c3d0;
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin-top: 10rem;
    z-index: 2;
}

main #app {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 30rem;
    z-index: 2;
}

main #app input {
    width: 100%;
    background: none;
    margin-top: 1.5rem;
    border: none;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.842);
    outline: none;
    color: #FFF;
    padding: 0.6rem;
    z-index: 2;
    font-size: 1rem;
}

main #app input::placeholder {
    color: hsla(0, 0%, 95%, 0.884);
    font-size: 1rem;
}

main #app .container-for-inputs, main #app .container-for-buttons {
    width: 100%;
    display: flex;
    z-index: 2;
    justify-content: space-between;
}

main #app .container-for-inputs input, main #app .container-for-buttons button {
    width: 48%;
}

main #app button {
    width: 100%;
    padding: .6rem;
    background: #fff;
    margin-top: 1rem;
    border: none;
    outline: none;
    color: #024b61;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: .4rem;
    z-index: 2;
    cursor: pointer;
    position: relative;
}

main #app button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 38px;
    background: rgba(2, 75, 97, 0.116);
    border-radius: .4rem;
    transition: all 2s ease;
}

main #app button:hover:before {
    width: 100%;
}

main #app h1 {
    width: 100%;
    font-size: 1rem;
    margin-top: 1.5rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.2s linear infinite;
    z-index: 2;
}

footer {
    background: #024b61;
    position: relative;
    margin-top: 150px;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translateX(-2000px);
    }
}

.wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from {
        transform: translateX(-1800px);
    }
}

.wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
    from {
        transform: translateX(-1600px);
    }
}

@media (max-width:500px) {
    footer {
        margin-top: 80px;
    }

    main #app {
        width: 80%;
    }

    .spinner {
        margin-top: 2rem;
    }
}